.help-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.375rem;
    color: #64748b;
    cursor: help;
    transition: color 0.2s;
    vertical-align: middle;
}

.help-icon:hover {
    color: #10b981;
}

.help-icon svg {
    width: 16px;
    height: 16px;
}
